body {
  background-image: url(/img/aliens.jpg);
  background-size: cover;
  margin: 0px;
}

header {
  background-color: rgba(110, 171, 173);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: monospace;
  color: aliceblue;
  font-weight: bolder;
  border-radius: 5px;
  position: sticky;
  top: 0;
  a {
    text-decoration: none;
    color: aliceblue;
    &:hover {
      color: rgba(165, 42, 42, 0.562);
    }
  }
}

.aliens-title{
  animation: aliens-title 1s infinite;
}

.eslogan {
  background-color: rgba(110, 173, 110, 0.705);
  top: 80px;
  left: 650px;
  width: 600px;
  height: 200px;
  align-items: center;
  border-radius: 5px;
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  z-index: -1;
  h2{
    color: aliceblue;
    font-family: monospace;
    font-weight: bold;
  }
}

.alien,
.ufo, .alien-ufo {
  position: absolute;
}

.alien {
  right: 800px;
}

.ufo {
  left: 800px;
}

.alien-ufo{
  left: 50px;
  top: 100px;
  animation: alien-ufo 4s infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  z-index: inherit;
  img{
    max-width: 412px;
  }
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 250px;
  margin-bottom: 100px;
  padding: 10px;
}

.card {
  background-color: rgba(206, 247, 248, 0.829);
  width: 480px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: thick;
  border-color: rgba(165, 42, 42, 0.562);
  img {
    border-radius: 5px;
  }
}

.card:hover {
  rotate: 2deg;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgba(165, 42, 42, 0.562);
  a {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(165, 42, 42, 0.562);
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    &:hover {
      background-color: rgba(165, 42, 42);
    }
  }
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: large;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-align: center;
}

footer {
  background-color: rgba(173, 110, 159, 0.562);
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-around;
  bottom: 0;
  width: 2000px;
  height: 100px;
  border-radius: 5px;
  h2{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
  }
  a{
    color:aliceblue;
    font-size: xx-large;
  }
}

@keyframes aliens-title {
  0% {opacity:0;}
  50% {opacity:1;}
  100% {opacity:0;}
}

@keyframes alien-ufo{
  0% {left: 0px;}
  50%{left: 500px;}
  75%{left: -500px;}
  100%{left:0px;}
}